body{
    margin: 0;
    background-color: rgb(242, 246, 245);
}

.container-principal{
    width: 80%;
    margin: 0 auto;
    }
/* nav  */

nav {
    width: 100%;
    padding: 0px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    border: 2px solid rgb(233, 221, 221);
    background-color: white;
 
}
nav .icon-init{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-init h3{
    font-family: sans-serif;
}
.icon-init i {
    color:#0f5bff;
}
/* search del nav  */

.search {
    width: 30%;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px; 
    gap: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: rgb(242, 244, 249);
}

.search input::placeholder{
    color: rgb(48, 86, 162);
    font-weight: 530;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background-color: rgb(242, 244, 249);
}

.search i {
    padding: 6px;
    border-radius: 5px;
    color: rgb(48, 86, 162);
}

/* header */


.container-today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}



.text-today {
    flex-direction: column;
    gap: 6px;
}

.text-today span {
    color: #0f5bff;
    font-weight: bold;
}

.text-today span i{
    padding-right: 10px;
}

.text-today h1{
    font-size: 2.6rem;
    font-family: sans-serif;
    font-weight: bold;
}

.text-today p {
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(71, 70, 68, 0.6);
}

.container-today button {
    background-color: #0f5bff;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.container-today button:hover{
        box-shadow: 5px 5px 25px #3370db;
        transition: 500ms;
}

/* header ul  */

header ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 16px 55px;
    list-style: none;
    
}

header ul li button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    background: transparent;
}

.button-list-1{
    color: rgb(224, 22, 22);
    border: 1px solid rgb(224, 22, 22);
    background-color: rgb(246, 219, 219);
}
.button-list-2{
    color: rgb(186, 105, 24);
    border: 1px solid rgb(253, 129, 34);
    background-color: rgb(248, 247, 181);;
}
.button-list-3{
    color: #0f5bff;
    border: 1px solid blue;
    background-color: #e0e7f6;
}
.button-list-4{
    border: none;
    color: #4a6195;
    background-color: #dee5f3;
}

/* hr */

.hr {
    width: 90%;
}

/* main  */

main {
    width: 90%;
    margin: 0 auto;
    padding: 24px;
    font-family: sans-serif;
    
}
.container-tarea input{
    width: 3%;
}
.container-tarea-finish input{
    width: 3%;
}

.container-tarea {
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-bottom: none;
    background-color: white;
    border-radius: 4px;
}
.container-tarea-finish{
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
}

.container-main-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.container-main-p p {
    font-weight: bold;
}
.span-finish{
    padding: 5px 10px;
}

.container-span .span{
    padding: 5px 10px;
    border: 1px solid gray;
    border-left: none;
    border-top: none;
    border-bottom:none;
}

/* boton agregar */

.button-agregar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    border: 2px dashed gray;
    color: gray;
    background-color: #e4ecf8;
}

.button-agregar:hover{
    cursor: pointer;
    border: 2px dashed blue;
    color: blue;
    transition: 150ms;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    padding: 30px;
    font-family: sans-serif;
    
}

footer article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 0px 50px 15px 20px;
    font-size: 15px;
    border-radius: 10px;
}

footer article div {
    font-size:10px;
}
footer article div span {
    color: gray;
}
footer article i {
    color: blue;
    background-color: #e4ecf8;
    padding: 10px;
    border-radius:5px;
}

.container-footer-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}