html{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight:400;
}
/* contenedor principal  */
.contenedor-principal-de-la-pagina {

}
    /* input  */
.input-principal-de-tareas{

}


    /* lista de tareas  */
.contenedor-de-lista{

}

.input-checkbox{
    margin: 0px 15px 0px 15px;
}

li{
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    
}

l




